<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PetSource Home</title>
	<link rel="stylesheet" href="style.css">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!---------- header ---------->	
	<div class="header">
		<div class="container">
			<div class="navbar">
				<div class="logo">
					<img src="Classes/Templates/images/logo3.png" width="125px">
				</div>
				<nav>
					<ul id="MenuItems">
						<li><a href="welcome.php">Profile</a></li>
						<li><a href="logout.php">Logout</a></li>
						<li><a href="registerpet.php">Register Pet</a></li>
						<li><a href="messages.php">See Mail</a></li>
						<li><a href="updateuser.php">Update Info.</a></li>
					</ul>
				</nav>
			</div>

		</div>
    </div>
    